@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar::-webkit-scrollbar-thumb {
  background-color: #d4d4d4;
  border-radius: 10px;
  cursor: pointer;
}
.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}
.scrollbar-hidden {
  scrollbar-width: none;
}
@layer utilities {
  .padding-section {
    @apply px-4 md:px-8 lg:px-16 xl:px-32 2xl:px-64;
  }
  .disabled {
    @apply disabled:cursor-not-allowed disabled:text-white disabled:bg-pink-200 disabled:ring-0;
  }
}
